<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald&display=swap');
    </style>
<mat-toolbar class="header" color="white">
    <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
            <mat-icon>pets</mat-icon>
            <span style="font-family:  'Oswald', sans-serif; font-weight:lighter;">Pet Charity Ukraine</span>
        </div>
        <span class="example-spacer"></span>
        <div class="toolbar no-select">
            <button mat-flat-button color="#F4ECE4"  routerLink="pets">Улюбленці</button>
            <button mat-flat-button color="#D5D2CE"  routerLink="info">Підтримати</button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
