<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    
    <div class="container fadeInUp">
        <div class="main_blocks">
            <div class="block"  style="background-color: #F5F5F5;">
                <div class="mainInfo">
                    <p>
                        <br>Проєкт Pet Charity Ukraine не є комерційним проєктом та створений виключно за кошти розробників!
                        
                    </p>
                    <p>
                        <br>Наша мета - залучення ресурсів та збільшення благодійної допомоги українським притулкам для бездомних тварин.
                    </p>
                </div>
            </div>
            <div class="block">
                <h1>
                    <span>Pet Charity Ukraine</span>
                    <div class="animatedIcon">
                        <div class="firstPaw"><mat-icon>pets</mat-icon></div>
                        <div class="secondPaw"><mat-icon>pets</mat-icon></div>  
                    </div>
                    <div class="animatedIcon">
                        <div class="thirdPaw"><mat-icon>pets</mat-icon></div>
                        <div class="fourthPaw"><mat-icon>pets</mat-icon></div>  
                    </div>
                    <div class="animatedIcon">
                        <div class="fifthPaw"><mat-icon>pets</mat-icon></div>
                        <div class="sixthPaw"><mat-icon>pets</mat-icon></div>  
                    </div>
                    
                </h1>
            </div>
            <div class="block">
                <div class="helpUs">
                    <span  class="helpUsLink">Як нас підтримати?</span>
                    <button class="button-86">Тисни</button>
                </div>
            </div>
            <div class="block" style="background-color: #E1E7F1;">
                <div class="mainInfo">
                    <p>
                        <br>Сьогодні ми допомагаємо притулку "" в місті Полтава. Лінк на сторінку притулку  знаходиться внизу сторінки.
                        
                    </p>
                    <p>
                        <br>Якщо Ви - власник притулку для тварин і хочете поширити інформацію про заклад, запрошуємо приєднатися до проєкту та звернутися до нас за номерами, вказаними на сайті. 
                    </p>
                </div>
            </div>
            
          </div>
        
        
        
    </div>
</body>
</html>
