<style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald&family=PT+Sans&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap'); </style>
<style> @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:ital@1&family=Oswald&family=PT+Sans&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap'); </style>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>