<mat-toolbar class="footer" color="white">
    <mat-toolbar-row>
        <div class="toolbar">
            <mat-icon>call</mat-icon>
            <span>+380990220837</span>
        </div>
        <span class="example-spacer"></span>
        <div class="toolbar no-select">
            <mat-icon routerLink="">home</mat-icon>
        </div>
        <span class="example-spacer"></span>
        <div class="toolbar">
            <mat-icon>link</mat-icon>
            <span><a href="">Instagram</a></span>
        </div>
        
    </mat-toolbar-row>
  </mat-toolbar>
